* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #14161a;
}

/* Navbar Básica */
.navbar-links a span {
    color: rgb(216, 19, 36);
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/* Marca */
.navbar-brand {
    text-decoration: none;
}

.navbar-brand h2 {
    font-size: 1.8rem;
    color: rgb(216, 19, 36);
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar-brand i {
    margin-right: 0.625rem;  /* Ajustado para corresponder à primeira navbar */
}

/* Botão do Menu (para mobile) */
.navbar-toggler {
    background-color: transparent;
    border: none;
    font-size: 1.875rem;  /* Tamanho ajustado em rem */
    display: none; /* Escondido por padrão em telas grandes */
}

/* Links de Navegação */
.navbar-links {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 0.9375rem;  /* Usando rem para o espaçamento */
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: rgb(216, 19, 36);
}

/* Menu Responsivo */
@media (max-width: 768px) {
    .navbar-links {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: left 0.3s ease;
    }

    .navbar-links.active {
        left: 0;
    }

    .navbar-toggler {
        display: block;
    }

    .nav-item {
        margin: 1.25rem 0;  /* Ajustado para manter consistência no espaçamento */
        font-size: 1.2rem;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        margin-top: 0.625rem;  /* Ajustado para o espaçamento em rem */
    }
}

/* Capa do site*/

/* Cabeçalho principal */
.header {
    background-image: url('../img/capa.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Sobreposição semitransparente sobre a imagem */
.header-inner {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Conteúdo do cabeçalho */
.container {
    text-align: center;
    color: white;
    padding: 1.25rem;
}

/* Título */
.title {
    font-size: 1.875rem; 
    margin-bottom: 1.25rem; 
}

/* Navegação (breadcrumb) */
.breadcrumb {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.breadcrumb span {
    margin: 0 0.3125rem; 
}

.breadcrumb a {
    text-decoration: none;
 color: white;
}

.breadcrumb .inicio {
    color: rgb(216, 19, 36);
}

.breadcrumb .atual {
    color: white;
}

/* Separador entre os itens */
.breadcrumb span:not(.atual)::after {
    content: "|";
    margin-left: 0.625rem;
    margin-right: 0.3125rem; 
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
}

/* Cabeçalho fim */

/* Apenas a parte da lista */
ul {
    list-style-type: circle;
}
ul li::marker {
    color: #fff;
}

ul li {
    color: rgb(171, 177, 191); 
}

/* Botão Clique Aqui para ir para o guia inicio */
.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: rgb(216, 19, 36);
    --color-outline: #AD0F1D;
    height: 1.875rem; 
}
  
.btn-content {
    display: flex;
    align-items: center;
    padding: 0.3125rem 1.875rem; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.25rem; 
    color: #fff;
    background: rgb(216, 19, 36);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
}
  
.btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
}
  
.btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
}
  
.btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 1.5625rem; 
}
  
.icon-arrow {
    width: 0.625rem; 
    margin-left: 0.9375rem;
    position: relative;
    top: 6%;
}
    
/* SVG */
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}
  
#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}
  
.btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}
  
.btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}
  
.btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
  
/* SVG animations */
@keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
}
  
/* Button animations */
@-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
}  
  
@keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
}
/* Botão Clique Aqui para ir para o guia fim */

/* Footer inicio*/
/* Estilos principais para o footer */
.footer-container {
    background-color: #1f2229;
    color: #fff;
    padding: 2.5rem 1.25rem; 
    padding-top: 0.9375rem;
    padding-bottom: 0.625rem; 
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem; 
    margin-bottom: 1.25rem; 
}

.footer-section {
    width: 45%;
    padding-left: 3.75rem; 
    padding-right: 3.75rem; 
}

.footer-section h4 {
    font-size: 1.4rem; 
    margin-bottom: 0.625rem;
    color: rgb(216, 19, 36);
}

.footer-section p, .footer-section h6 {
    font-size: 1.1rem;
    margin: 0.3125rem 0;
}

.footer-section h6 {
    font-weight: bold;
    color: rgb(216, 19, 36);
}

.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid rgb(171, 177, 191);
    padding-top: 1.25rem;
}

.footer-bottom a {
    color: rgb(216, 19, 36);
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 0.625rem; 
    font-size: 1rem;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        text-align: center;
        margin-bottom: 1.25rem;
    }

    .footer-bottom {
        padding-top: 1.875rem;
    }
}
/* Footer fim */

/* Estilo do botão de voltar ao topo */
.voltaTopo {
    text-decoration: none;
    position: fixed;
    bottom: 2.5rem; 
    right: 2.5rem;
    background-color: rgb(216, 19, 36);
    color: white;
    border: none;
    padding: 0.9375rem; 
    font-size: 1.5rem; 
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    width: 0.9375rem; 
    height: 0.9375rem; 
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s ease-in-out;
}

/* Estilo do botão quando estiver em hover */
.voltaTopo:hover {
    background-color: rgb(170, 0, 15);
    transform: scale(1.1);
}

/* Estilo do botão quando pressionado */
.voltaTopo:active {
    transform: scale(0.9);
}

/* Classe para mostrar o botão quando necessário */
.show {
    display: flex;
}

/* Responsividade */
@media (max-width: 768px) {
    .voltaTopo {
        padding: 0.75rem;
        font-size: 1.25rem; 
    }
}

@media (max-width: 768px) {
    /* Em dispositivos móveis */
    section div {
        width: 100%;
    }

    .btn-conteiner {
        text-align: center;
    }
    h2, h3 {
        font-size: 1.4rem; 
    }
    ul {
        padding-left: 1em;
    }
    .btn-content {
        display: block;
        text-align: center;
    }
}
@media (max-width: 480px) {
    /* Em telas pequenas como smartphones */
    .btn-content {
        font-size: 0.9rem;
    }
    p, ul {
        font-size: 1rem;
    }
}

/* Funcionalidade de loading */
#preloader {
    background: #14161a url(./img/loading_circulo.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999999;
}